/*----------------------*/
/*    #Reset            */
/*----------------------*/

/* Keep h1 text from having <a> color on hover */
h1 a:hover {
    color: inherit;
}





/*----------------------*/
/*    #Fonts            */
/*----------------------*/

/********** Font Famalies **********/
body {
    font-family: 'Libre Baskerville', serif;
}

h1, h2, h3, h4, h5, h6,
a, 
footer {
    font-family: 'Roboto', sans-serif;
}


/********** Font Sizes **********/
.large-text, .kana {
    font-size: 2rem;
}

.xl-text {
    font-size: 4rem;
}





/*----------------------*/
/*    #Colors           */
/*----------------------*/

/********** Text Colors **********/
body {
    color: #000;
}

/* Headings are dark blue */
h1, h2, h3, h4, h5, h6,
nav a {
    color: #131a39;
}

/* Links, main nav on hover, and current link are bright pink */
/* rt (romaji) and important text */
a, a:hover, .active,
.kana rt, .important {
    color: #ac0b64;
}


/********** Background Colors **********/

/* white background around .active */
nav li a:hover,
.active {
    background-color: #fff;
}


nav {
    background-color: #f6e4f4; /* pastel pink */
}

footer {
    background-color: #cdf2f4; /* pastel blue */
}


/********** Button Colors **********/
.btn-red {
    background-color: #ac0b64;
    color: #fff;
}





/*----------------------*/
/*    #Box-shadows      */
/*----------------------*/

/* used for bottom of expanded menu on mobile */
.box-shadow {
    box-shadow: 0 5px 5px grey;
}





/*----------------------*/
/*    #Hamburger Menu   */
/*----------------------*/

/* 576px first breakpoint in Bootstrap 4 */
/* before the first breakpoint */

@media (max-width: 576px) { 
    
    /* make h1 smaller to fit text and icon */
    h1 {
        font-size: 2rem;
    }
    
    /* make .display-1 smaller to fit full heading */
    .display-1 {
        font-size: 4.5rem;
    }
    
    /* add hamburger icon, move off div text */
    .menu-icon {
        background: url('../images/Hamburger_Icon.png')
            no-repeat top right;
        width: 45px;
        height: 45px;
        text-indent: -9999px;
    }
    
    /* add X icon, move off div text */
    .expanded-menu-icon {
        background: url('../images/Close_Icon.png')
            no-repeat top right;
        width: 45px;
        height: 45px;
        text-indent: -9999px;
    }
}





/*----------------------*/
/*    #Table            */
/*----------------------*/

/* remove border, center text, keep furigana on one line*/
.table td {
    border: none;
    text-align: center;
    white-space: nowrap;
}

/* Bootstrap 4 - md breakpoint at 768 */
/* control table width to be half after the md breakpoint */
@media (min-width: 769px) {
    .table {
        max-width: 50%;
    }
}





/*----------------------*/
/*    #Sizes - Images   */
/*----------------------*/

/* set dimensions of svg stroke images */
.stroke {
    max-width: 150px;
    max-height: 150px;
}





/*----------------------*/
/*    #<rt> positioning */
/*----------------------*/
/* rt position */
.kana {
    /* not supported in most browsers, will appear above */
    ruby-position: under;
}




