/*----------------------*/
    #Reset
/*----------------------*/

/* Keep logo from looking like link on hover */
/* a:link needs to come before a:hover for it to work */
h1 a:link,
h1 a:hover {
    color: inherit;
}





/*----------------------*/
    #Fonts
/*----------------------*/

body {
    font-family: 'Libre Baskerville', serif;
}

h1, h2, h3, h4, h5, h6,
a, 
footer {
    font-family: 'Roboto', sans-serif;
}





/*----------------------*/
    #Colors
/*----------------------*/

/*** Text Colors ***/
body {
    color: #000;
}


/* Headings are dark blue */
h1, h2, h3, h4, h5, h6,
nav a {
    color: #131a39;
}

/* Links, main nav on hover, and current link are bright pink */
a, a:hover,
.active {
    color: #ac0b64;
}


/*** Background Colors ***/
/* white background around .active */
nav li a:hover,
.active {
    background-color: #fff;
}


nav {
    background-color: #f6e4f4; /* pastel pink */
}

footer {
    background-color: #cdf2f4; /* pastel blue */
}





/*----------------------*/
    #Spacing
/*----------------------*/





/*----------------------*/
    #Testing
/*----------------------*/
